# binaries
sandbox
timeline
bunny
fract
gtktest
thrill
hs2erl
lf_test
lf_test_hs
lf_test_ml
lf_test_ml.opt
soe/main

# data
*.[de]ts
*.dets

# compilation byproducts
*.o
*.beam
*.core
*.[PES]
*.hi
*.cm[iox]
*.ozf
*.alc
compiled/
._d/
